data/Tahoe100M_Pseudobulk_processed/CVCL_0023.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0028.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0069.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0099.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0131.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0152.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0179.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0218.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0292.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0293.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0320.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0332.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0334.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0359.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0366.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0371.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0397.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0399.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0428.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0459.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0480.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0504.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_0546.h5ad
data/Tahoe100M_Pseudobulk_processed/CVCL_1055.h5ad
data/Tahoe100M_Pseudobulk_processed/processed_file_manifest.csv
data/Morganfingerprints.csv
data/Tahoe100M_tensor_artifacts/dmso_baselines.pt
data/Tahoe100M_tensor_artifacts/dropped_missing_fingerprint_profiles.csv
data/Tahoe100M_tensor_artifacts/morgan_fingerprints.pt
data/Tahoe100M_tensor_artifacts/repeated_condition_counts.csv
data/Tahoe100M_tensor_artifacts/treatment_expressions.pt
data/Tahoe100M_tensor_artifacts/zero_expression_dmso_profiles.csv
data/Tahoe100M_tensor_artifacts/zero_expression_source_profiles.csv
data/Tahoe100M_tensor_artifacts/zero_expression_treatment_profiles.csv
artifacts/lightning/linear_regression/mixed_ridge_compressed_delta/version_0/hparams.yaml
artifacts/lightning/linear_regression/mixed_ridge_compressed_delta/version_0/metrics.csv
artifacts/lightning/linear_regression_plot_smoke/mixed_ridge_compressed_delta/checkpoints/epoch=epoch=00-val_loss=val_loss=263.028259.ckpt
artifacts/lightning/linear_regression_plot_smoke/mixed_ridge_compressed_delta/version_0/hparams.yaml
artifacts/lightning/linear_regression_plot_smoke/mixed_ridge_compressed_delta/version_0/metrics.csv
artifacts/lightning/linear_regression_plot_smoke_agg/mixed_ridge_compressed_delta/checkpoints/epoch=epoch=00-val_loss=val_loss=266.994568.ckpt
artifacts/lightning/linear_regression_plot_smoke_agg/mixed_ridge_compressed_delta/version_0/hparams.yaml
artifacts/lightning/linear_regression_plot_smoke_agg/mixed_ridge_compressed_delta/version_0/metrics.csv
artifacts/lightning/linear_regression_smoke/mixed_ridge_compressed_delta/checkpoints/epoch=epoch=00-val_loss=val_loss=262.906464.ckpt
artifacts/lightning/linear_regression_smoke/mixed_ridge_compressed_delta/version_0/hparams.yaml
artifacts/lightning/linear_regression_smoke/mixed_ridge_compressed_delta/version_0/metrics.csv
artifacts/lightning/linear_regression/mixed_ridge_compressed_delta/checkpoints/epoch=epoch=14-val_loss=val_loss=227.125824.ckpt
artifacts/lightning/linear_regression/mixed_ridge_full_delta/checkpoints/epoch=epoch=03-val_loss=val_loss=634.005005.ckpt
artifacts/lightning/linear_regression/mixed_ridge_full_delta/version_0/hparams.yaml
artifacts/lightning/linear_regression/mixed_ridge_full_delta/version_0/metrics.csv
artifacts/lightning/linear_regression/mixed_ridge_full_delta/version_1/hparams.yaml
artifacts/lightning/linear_regression/mixed_ridge_full_delta/version_1/metrics.csv
artifacts/lightning/linear_regression/mixed_ridge_full_delta/version_2/hparams.yaml
artifacts/lightning/linear_regression/mixed_ridge_full_delta/version_2/metrics.csv
data/geneinfo_beta.txt
data/landmark_genes.csv
data/Tahoe100M_tensor_artifacts_L1000/dmso_baselines.pt
data/Tahoe100M_tensor_artifacts_L1000/dropped_missing_fingerprint_profiles.csv
data/Tahoe100M_tensor_artifacts_L1000/morgan_fingerprints.pt
data/Tahoe100M_tensor_artifacts_L1000/repeated_condition_counts.csv
data/Tahoe100M_tensor_artifacts_L1000/treatment_expressions.pt
data/Tahoe100M_tensor_artifacts_L1000/zero_expression_dmso_profiles.csv
data/Tahoe100M_tensor_artifacts_L1000/zero_expression_source_profiles.csv
data/Tahoe100M_tensor_artifacts_L1000/zero_expression_treatment_profiles.csv
artifacts/lightning/l1000_smoke/mixed_ridge_full_delta/checkpoints/epoch=epoch=00-val_loss=val_loss=805.189819.ckpt
artifacts/lightning/l1000_smoke/mixed_ridge_full_delta/version_0/hparams.yaml
artifacts/lightning/l1000_smoke/mixed_ridge_full_delta/version_0/metrics.csv
artifacts/lightning/linear_regression/mixed_ridge_compressed_delta/checkpoints/epoch=epoch=14-val_loss=val_loss=226.527206.ckpt
artifacts/lightning/linear_regression/mixed_ridge_compressed_delta/version_1/hparams.yaml
artifacts/lightning/linear_regression/mixed_ridge_compressed_delta/version_1/metrics.csv
artifacts/lightning/linear_regression/mixed_ridge_full_delta/checkpoints/epoch=epoch=02-val_loss=val_loss=233.915878.ckpt
artifacts/lightning/linear_regression/mixed_ridge_full_delta/checkpoints/epoch=epoch=03-val_loss=val_loss=230.615662.ckpt
